# Code Owners : Approval from atleast one Code owner is mandatory to merge changes in the main line
#

# pattern 
#
# file/directory    user
#

*.cpp    @Ritabrata1080 @alternativeritam
*.java   @Ritabrata1080 @alternativeritam
*.py     @alternativeritam @aritra1311
*.md     @alternativeritam
